    @import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;800&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;500;800&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;500;800&family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap");
    * {
        margin: 0 auto;
        box-sizing: border-box;
    }
    
    //Footer Page
    .footer {
        height: 280px;
        background: #101012;
        .footer_container {
            max-width: 1440px;
            .footer_div {
                justify-content: space-between;
                display: flex;
                align-items: center;
                a {
                    margin-top: 70px;
                    text-decoration: none;
                    font-family: "Mulish";
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 30px;
                    color: #c2c2c2;
                }
            }
        }
    }
    
    //Login Page
    button {
        font-family: "Nunito", sans-serif;
        border: none;
        outline: none;
        width: 100%;
        padding: 15px 0;
        color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        background: #603bbb;
        cursor: pointer;
    }
    
    .login {
        font-family: "Nunito", sans-serif;
        width: 100%;
        min-height: 100vh;
        padding: 0 20px;
        background: #e9e9e9;
        display: flex;
    }
    
    .login .loginContainer {
        font-family: "Nunito", sans-serif;
        padding: 60px;
        margin: auto;
        width: 100%;
        max-width: 520px;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: radial-gradient( ellipse at left bottom, rgba(22, 24, 47, 1) 0%, rgba(38, 20, 72, 0.9) 59%, rgba(17, 27, 75, 0.9) 100%);
        box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
    }
    
    .login .loginContainer label {
        font-family: "Nunito", sans-serif;
        color: white;
        margin: 14px 0;
        display: block;
        font-size: 22px;
        line-height: 1;
    }
    
    .login .loginContainer input {
        font-family: "Nunito", sans-serif;
        width: 100%;
        border: none;
        outline: none;
        font-size: 19px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.1);
        color: #fff;
        letter-spacing: 1px;
    }
    
    .login .loginContainer .btnContainer {
        width: 100%;
        padding: 24px 0;
    }
    
    .login .loginContainer .btnContainer p {
        font-family: "Nunito", sans-serif;
        margin: 14px 0 0 0;
        text-align: right;
        color: #fff;
    }
    
    .login .loginContainer .btnContainer p span {
        font-family: "Nunito", sans-serif;
        color: yellow;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-left: 5px;
        cursor: pointer;
        transition: all 400ms ease-in-out;
    }
    
    .login .loginContainer .btnContainer p span:hover {
        font-family: "Nunito", sans-serif;
        color: red;
    }
    
    .login .loginContainer .errorMsg {
        font-family: "Nunito", sans-serif;
        color: red;
        font-size: 16px;
    }
    
    //Log Out Page
    .hero {
        font-family: "Nunito", sans-serif;
        width: 100%;
        background: radial-gradient( ellipse at left bottom, rgba(22, 24, 47, 1) 0%, rgba(38, 20, 72, 0.9) 59%, rgba(17, 27, 75, 0.9) 100%);
    }
    
    .hero nav {
        background: #000000;
        width: 100%;
        padding: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .hero nav h2 {
        font-family: "Nunito", sans-serif;
        color: #fff;
    }
    
    .hero nav button {
        width: 86px;
        padding: 8px 0;
        background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
    }